html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #34495e;
}

#root {
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: solid 1px #666;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 4px 12px;
  appearance: #34495e;
}

button[disabled] {
  opacity: .6;
}
